<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page d'accueil</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>
<script th:inline="javascript">

    const lenis = new Lenis({
        duration: 2
    });

    function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);
</script>
<body style="overflow-y: scroll">

<header th:include="menu :: menuFragment" style="background-color: transparent; position: fixed"></header>

<div class="messagePopUps">
    <p th:if="${messageInscrReussite != null}" class="messageTextReussie" th:text="${messageInscrReussite}"></p>
    <p th:if="${messageInscrEchoue != null}" class="messageTextEchoue" th:text="${messageInscrEchoue}"></p>
    <p th:if="${messageConnEchoue != null}" class="messageTextEchoue" th:text="${messageConnEchoue}"></p>
    <p th:if="${messageDeconnexion != null}" class="messageTextReussie" th:text="${messageDeconnexion}"></p>
</div>

<div th:replace="authForm.html :: authForm"></div>

<main>
    <!-- Left section -->
    <div id="left-section" th:include="leftNav :: leftNavFragment" style="display: none"></div>

    <div id="main-section-home-page">

        <div class="main-gif-landing-page" id="landingPageVideo">
            <video loop="" muted="" playsinline="" autoplay="" poster="">
                <source src="images/landingPageVideo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="animated-company-name">
            <h1 id="companyName">CONNITA</h1>
        </div>

        <div class="first-section-home-page">
            <img src="https://images.unsplash.com/photo-1473625247510-8ceb1760943f?q=80&w=2011&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="italy landscape">
            <h2 class="home-page-section-title">To new adventures</h2>
            <p class="home-page-section-desc">Discover the hidden gems of far-off destinations, uncover the best-kept
                secrets of seasoned travelers, and connect with like-minded explorers who share your insatiable thirst
                for adventure.</p>
        </div>

        <div class="second-section-home-page">
            <img src="https://images.unsplash.com/photo-1450609283058-0ec52fa7eac4?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="italy landscape">
            <h2 class="home-page-section-title">Around the planet</h2>
            <p class="home-page-section-desc">Dive into Culture: where every dive is a lesson in adventure, and every
                cultural encounter is an invitation to connect.</p>
        </div>

        <div class="third-section-home-page">
            <img src="https://images.unsplash.com/photo-1545251142-f32339076e6d?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                 alt="italy landscape">
            <h2 class="home-page-section-title">Discover new locations</h2>
            <p class="home-page-section-desc">Whether you're drawn to the allure of history, the tranquility of nature,
                the serenity of beaches, or anything in between, there's an adventure waiting for you.</p>
        </div>

        <section class="svg-overlay"></section>

        <div class="fourth-section-home-page">
            <svg viewBox="0 0 500 500" xmlns='http://www.w3.org/2000/svg'>

                <image class="imageDistortedLandingPage one" id="img1" x="-220" y="40"
                       href="images/DistortedImage1.jpg"
                       filter="url(#noise)">
                </image>

                <image class="imageDistortedLandingPage two" id="img2" x="0" y="20"
                       href="images/DistortedImage2.jpg" filter="url(#noise)">
                </image>

                <image class="imageDistortedLandingPage three" id="img3" x="235" y="80"
                       href="images/DistortedImage3.jpg" filter="url(#noise)">
                </image>

                <image class="imageDistortedLandingPage five" id="img4" x="420" y="10"
                       href="images/DistortedImage4.jpg" filter="url(#noise)">
                </image>

                <image class="imageDistortedLandingPage six" id="img5" x="-140" y="340"
                       href="images/DistortedImage5.jpg" filter="url(#noise)">
                </image>

                <image class="imageDistortedLandingPage seven" id="img6" x="80" y="280"
                       href="images/DistortedImage6.jpg" filter="url(#noise)">
                </image>

                <image class="imageDistortedLandingPage four" id="img7" x="360" y="340"
                       href="images/DistortedImage7.jpg" filter="url(#noise)">
                </image>

                <image class="imageDistortedLandingPage eight" id="img8" x="650" y="220"
                       href="images/DistortedImage8.jpg" filter="url(#noise)">
                </image>

            </svg>
        </div>

        <section class="overlay-horizontal-scroll"></section>
        <div class="fifth-section-home-page">
            <div class="horizontal-scroll-container">
                <div class="horizontal-scroll-container-sections">
                    <section class="sections-horizontal-scroll-element">
                        <h1>Why learn a language with connita?</h1>
                    </section>

                    <section class="sections-horizontal-scroll-element">
                        <section class="animated-section">
                            <h1 class="anim">Learn more together</h1>
                            <p class="anim">Go beyond the textbook and exchange with learners worldwide.</p>
                            <img src="gif/animatedWorldwideSection.gif" alt="individuals learning" class="anim">
                        </section>
                    </section>

                    <section class="sections-horizontal-scroll-element">
                        <section class="animated-section">
                            <img src="images/challengeExemple1.png" alt="challenge exemple 1" class="anim"
                                 id="sectionImage1">
                            <img src="images/challengeExemple2.png" alt="challenge exemple 2" class="anim"
                                 id="sectionImage2">
                            <h1 class="anim">Learn with confidence</h1>
                            <p class="anim">Make real improvements, get real results.</p>
                        </section>
                    </section>
                </div>
            </div>
        </div>

        <div class="sixth-section-home-page">
            <h1 id="playground-title">Playground</h1>
            <section class="choose-language-playground">
                <h3 id="choose-language-playground">Choose a language to try</h3>
                <ul id="language-options-playground">
                    <li><img src="images/francePlayground.png" alt="French"></li>
                    <li><img src="images/italyPlayground.png" alt="Italian"></li>
                    <li><img src="images/spainPlayground.png" alt="Spanish"></li>
                    <li><img src="images/japanPlayground.png" alt="Japanese"></li>
                </ul>
                <div class="challenge-Wrapper-playground">
                    <h1 id="quiz-name">Simple Quiz</h1>
                    <div class="quiz">
                        <h2 id="question" class="animPlayground"></h2>
                        <div id="answer-buttons">
                            <button class="btnAnswer animPlayground"> </button>
                            <button class="btnAnswer animPlayground"> </button>
                            <button class="btnAnswer animPlayground"> </button>
                            <button class="btnAnswer animPlayground"> </button>
                        </div>
                        <button id="btnNext">Next</button>
                    </div>
                </div>
            </section>
            <section class="plane-path">
                <svg width="1920" height="526" viewBox="0 0 1920 526" fill="none" preserveAspectRatio="xMidYMax meet">
                    <path id="planePath" d="M1919.5 0.999847C1896.33 20.3332 1824.9 65.5 1724.5 91.5C1624.1 117.5 1605.62 59.5002 1623.5 27C1634.5 7.00014 1696.07 -14 1712.5 36.5C1739.5 119.5 1502 302.5 1414 347C1336 391.5 1142.11 490.051 1005 443.5C924 416 920.833 357 938.5 321.5C949.697 299 982.001 286 1005 299C1028 312 1033.5 333 1029 359C1020.91 405.741 972.077 480.713 786.5 484.5C566 489 412.621 419.937 338.5 373.5C291.413 344 300.5 274 357 265C413.5 256 445.298 296.807 422.5 349C397 407.379 289.5 474 71.5001 511.5C66.5001 515.166 45.3001 520.3 0.500061 511.5" stroke="black" opacity="0"/>
                </svg>
                <img src="images/paperPlane.png" alt="paper plane" id="paperPlane">
            </section>
            <section id="animation-container"></section>
        </div>

    </div>
</main>
<script src="/javascript/script.js"></script>
<script src="/javascript/challengePlaygroundScript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.7/lottie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/MotionPathPlugin.min.js"></script>
<script th:inline="javascript">

    const landingPageVideo = document.getElementById('landingPageVideo');
    const landingPageCompanyName = document.getElementById('companyName');
    const landingPageCompanyNameContainer = document.querySelector('.animated-company-name');

    document.addEventListener('scroll', () => {
        const scrollPosition = window.scrollY;
        const windowHeight = window.innerHeight;
        const imageOffsetTop = landingPageVideo.offsetTop;
        const imageHeight = landingPageVideo.offsetHeight;
        const distanceFromTop = imageOffsetTop - scrollPosition + imageHeight;

        let opacity = distanceFromTop / windowHeight;
        opacity = Math.max(0, Math.min(1, opacity));

        landingPageVideo.style.opacity = opacity;

        if (!(opacity < 0.12)) {
            landingPageCompanyName.style.transform = "scale(" + opacity + ")";
            landingPageCompanyNameContainer.classList.remove('textLandingPageContainerAnimation');
            landingPageCompanyName.classList.remove('animateTextLandingPageText');
        } else {
            landingPageCompanyNameContainer.classList.add('textLandingPageContainerAnimation');
            landingPageCompanyName.classList.add('animateTextLandingPageText');
        }

        const totalHeight = Math.max(
            document.body.scrollHeight,
            document.documentElement.scrollHeight,
            document.body.offsetHeight,
            document.documentElement.offsetHeight,
            document.body.clientHeight,
            document.documentElement.clientHeight,
            window.innerHeight
        );
        let distanceToEnd = totalHeight - (scrollPosition + windowHeight);

        if (distanceToEnd < 100) {
            landingPageCompanyName.style.transition = "all 1s ease-out";
            landingPageCompanyName.style.opacity = "0";
        } else {
            landingPageCompanyName.style.opacity = "1";
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        const distortedImages = document.querySelectorAll('.imageDistortedLandingPage');

        function createFilter(image) {
            const filterId = 'noise-' + image.id;

            const filter = document.createElementNS('http://www.w3.org/2000/svg', 'filter');
            filter.setAttribute('id', filterId);
            filter.setAttribute('x', '0%');
            filter.setAttribute('y', '0%');
            filter.setAttribute('width', '100%');
            filter.setAttribute('height', '100%');

            const feTurbulence = document.createElementNS('http://www.w3.org/2000/svg', 'feTurbulence');
            feTurbulence.setAttribute('baseFrequency', '4 0.6');
            feTurbulence.setAttribute('result', 'NOISE');
            feTurbulence.setAttribute('numOctaves', '5');
            filter.appendChild(feTurbulence);

            const feDisplacementMap = document.createElementNS('http://www.w3.org/2000/svg', 'feDisplacementMap');
            feDisplacementMap.setAttribute('in', 'SourceGraphic');
            feDisplacementMap.setAttribute('in2', 'NOISE');
            feDisplacementMap.setAttribute('scale', '20');
            feDisplacementMap.setAttribute('xChannelSelector', 'R');
            feDisplacementMap.setAttribute('yChannelSelector', 'R');
            filter.appendChild(feDisplacementMap);

            const svg = document.querySelector('svg');
            svg.appendChild(filter);

            image.style.filter = `url(#${filterId})`;
        }

        distortedImages.forEach(function (image) {
            createFilter(image);
        });


        distortedImages.forEach(function (image) {
            createFilter(image);

            const filterId = 'noise-' + image.id;
            const filter = document.getElementById(filterId);

            let scale = parseInt(filter.querySelector('feDisplacementMap').getAttribute('scale'));

            function runInfinitely() {
                if (scale > 0) {
                    filter.querySelector('feDisplacementMap').setAttribute('scale', scale);
                }
                setTimeout(runInfinitely, 30);
            }

            runInfinitely();

            let isHovering = false;

            image.addEventListener('mouseover', function () {
                isHovering = true;
            });

            image.addEventListener('mouseout', function () {
                isHovering = false;
            });

            setInterval(function () {
                if (isHovering) {
                    if (scale >= 0) {
                        scale--;
                    }
                } else {
                    if (scale <= 20) {
                        scale++;
                    }
                }
            }, 30);
        });
    });

    const animation = bodymovin.loadAnimation({
        container: document.getElementById('animation-container'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: 'images/PlaygroundBackground.json'
    });
</script>
<script th:inline="javascript">

    document.addEventListener('DOMContentLoaded', function () {

        const sections = gsap.utils.toArray('.sections-horizontal-scroll-element');
        const container = document.querySelector('.horizontal-scroll-container');
        const playgroundTitle = document.getElementById('playground-title');
        const playgroundChooseLanguage = document.getElementById('choose-language-playground');
        const playgroundLanguageOptions = document.getElementById('language-options-playground');
        const challengeContainer = document.querySelector('.challenge-Wrapper-playground');
        const animation = document.getElementById('animation-container');

        gsap.to("#paperPlane", {
            delay: 5,
            duration: 9,
            repeat: 12,
            repeatDelay: 20,
            ease: "power2.inOut",
            scrollTrigger: {
              trigger: "#paperPlane"
            },
            motionPath:{
                path: "#planePath",
                align: "#planePath",
                autoRotate: true,
                alignOrigin: [0.5, 0.5]
            }
        });

        gsap.from(animation, {
            opacity: 0,
            delay: 1,
            y: 300,
            ease: "power2.in",
            lazy: false,
            scrollTrigger: {
                trigger: animation,
            }
        });

        gsap.from(playgroundTitle, {
            y: 80,
            opacity: 0,
            duration: 0.8,
            ease: "elastic",
            lazy: false,
            scrollTrigger: {
                trigger: playgroundTitle,
                start: "top center"
            }
        });

        gsap.from(playgroundChooseLanguage, {
            y: 80,
            opacity: 0,
            duration: 0.8,
            ease: "elastic",
            lazy: false,
            scrollTrigger: {
                trigger: playgroundChooseLanguage,
                start: "top center"
            }
        });

        gsap.from(playgroundLanguageOptions, {
            y: 80,
            opacity: 0,
            duration: 0.8,
            ease: "elastic",
            lazy: false,
            scrollTrigger: {
                trigger: playgroundLanguageOptions,
                start: "top center"
            }
        });

        gsap.from(challengeContainer, {
            y: 120,
            opacity: 0,
            delay: 1,
            duration: 1.2,
            lazy: false,
            ease: "elastic",
            scrollTrigger: {
                trigger: challengeContainer,
                start: "top bottom"
            }
        });

        let scrollTween = gsap.to(sections, {
            xPercent: -100 * (sections.length - 1),
            ease: 'none',
            scrollTrigger: {
                trigger: container,
                start: "top top",
                end: "+=3000",
                scrub: 1,
                pin: true
            }
        });

        sections.forEach(section => {
            let element = section.querySelectorAll('.anim');

            gsap.from(element, {
                y: 80,
                opacity: 0,
                duration: 2,
                ease: "elastic",
                stagger: 0.1,
                lazy: false,
                scrollTrigger: {
                    trigger: section,
                    containerAnimation: scrollTween,
                    start: "left 40%",
                }
            })
        })

        gsap.to('.overlay-horizontal-scroll', {
            scrollTrigger: {
                trigger: '.overlay-horizontal-scroll',
                start: "top top",
                end: "top -3000",
                scrub: 1,
                pin: true,
            }
        })

    });

</script>
</body>
</html>

