<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JSP Menu Page</title>
</head>
<body th:fragment="menuFragment">
    <div id="logo-container">
        <a th:href="${session.loggedInUser != null ? '/pageAccueilUtilisateur' : '/index'}">
            <img src="images/My first design.png" alt="Company logo"/>
        </a>
    </div>
    <nav id="horizontal-nav">
        <ul th:if="${session.loggedInUser != null}">
            <li><a th:href="@{/pageAjoutUtilisateur}">New friends</a></li>
            <li id="dropdown-toggle">
                <a><img id="profilePicMenu" th:src="${session.loggedInUser.photoProfilPath}" alt="test-account"/></a>
                <div class="dropdown-menu" id="dropdownMenu">
                    <a th:href="@{/pageMessagerie}" class="dropdown-link">Messages</a>
                    <a th:href="@{/pageUtilisateurReglage}" class="dropdown-link">Settings</a>
                    <a th:href="@{/logout}" class="dropdown-link">Sign out</a>
                </div>
            </li>
        </ul>
        <div th:unless="${session.loggedInUser != null}">
            <button class="btnSignup" type="button">Start learning</button>
        </div>
    </nav>

<script src="/javascript/menuScript.js"></script>

</body>
</html>
