<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page d'accueil utilisateur</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header th:include="menu :: menuFragment"></header>

<main>
    <!-- Left section -->
    <div id="left-section" th:include="leftNav :: leftNavFragment"></div>
    <!-- Middle section -->
    <div id="middle-section">
        <div id="middle-section-friends-list">
            <h1>Add new friends</h1>
            <div id="middle-section-search-bar">
                <form class="formSearchBar">
                    <div>
                        <input type="text" id="searchQuery" name="challengeName" placeholder="Look a specific friend" required>
                        <img src="https://img.icons8.com/pastel-glyph/64/search--v1.png" id="searchIcon" alt="search--v1"/>
                    </div>
                </form>
            </div>
            <div id="middle-section-friends-list-container">
                <div th:each="utilisateur : ${listeUtilisateur}" class="middle-section-friends-list-element" id="userElementDisplayed">
                    <div class="friends-list-element-picture">
                        <img th:src="${utilisateur.photoProfilPath}" alt="User-Profile-Pic">
                    </div>
                    <div class="friends-list-element-name-region">
                        <h2 th:text="${utilisateur.prenom + ' ' + utilisateur.nom}"></h2>
                        <h3 th:text="${utilisateur.region}"></h3>
                    </div>
                    <div class="friends-list-element-add-button">
                        <button type="button" id="addButton">
                            <img src="https://img.icons8.com/ios-glyphs/60/plus--v1.png" alt="plus--v1" id="addImage"/>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/javascript/script.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    document.addEventListener("DOMContentLoaded", function() {
        var addButton = document.querySelectorAll('#addButton');

        addButton.forEach(function(button) {
            button.addEventListener('click', function() {
                var addImage = this.querySelector('img');
                var elementAdded = this.closest('.middle-section-friends-list-element');

                // Update image source
                var currentSrc = addImage.getAttribute('src');
                addImage.setAttribute('src', 'images/Screenshot 2024-04-21 013229.png');

                // Add a class to the parent element
                elementAdded.classList.add("added-user");
            });
        });
    });

    /*]]>*/
</script>
</body>
</html>