<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<header th:include="menu :: menuFragment"></header>

<div class="messagePopUps" id="messageNotification">
    <p th:if="${messageConnReussite != null}" class="messageTextReussie" th:text="${messageConnReussite}"></p>
</div>
<div class="FriendHey">
    <p id="friend-hey-element"></p>
</div>

<main>
    <!-- Left section -->
    <div id="left-section" th:include="leftNav :: leftNavFragment"></div>
    <!-- Middle section -->
    <div id="middle-section" style="overflow: hidden">
        <div id="middle-section-recent-work">
            <h1>Challenges</h1>
            <div id="recent-work-container">
                <div th:each="challenge : ${session.challenges}" id="recent-work-elements">
                    <section id="recent-work-container-title">
                        <img th:src="${challenge.challengeImageUrlIndex}" th:alt="${challenge.challengeName}"/>
                        <h3 th:text="${challenge.challengeName}"></h3>
                        <h2 th:text="${session.loggedInUser.idMembre}" style="display: none"></h2>
                    </section>
                </div>
            </div>
        </div>

        <div id="middle-section-recent-posts">
            <h1>Recent posts</h1>
            <div id="recent-post-container">
                <div>

                </div>
            </div>
        </div>

        <div id="middle-section-achievements">
            <h1>Achievement badges</h1>
            <div id="achievements-container">
                <ul>
                    <li><img src="https://img.icons8.com/dusk/64/army-star.png" alt="army-star"/></li>
                    <li><img src="https://img.icons8.com/dusk/64/world-map.png" alt="world-map"/></li>
                    <li><img src="https://img.icons8.com/dusk/64/saving-book.png" alt="saving-book"/></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Right section -->
    <div id="right-section" th:include="rightFriendsList :: rightFriendsListFragment"></div>
</main>
<script src="/javascript/script.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    const hiMembers = /*[[${listeCleinOeil}]]*/ [];

    function deleteCleinOeilFromDatabase(membreEnvoyantRecu) {
        $.ajax({
            url: '/deleteCleinOeil',
            method: 'POST',
            data: {membreEnvoyant: membreEnvoyantRecu},
            success: function (response) {
                console.log('Message deleted successfully:', response);
            },
            error: function (xhr, status, error) {
                console.error('Error deleting message:', xhr.responseText);
            }
        });
    }

    const friendsListElements = document.querySelectorAll('.friends-list-element');

    friendsListElements.forEach(function (friendsListElement) {
        const friendName = friendsListElement.querySelector('h3').textContent;
        const textDisplayed = friendsListElement.querySelector('h3');
        friendsListElement.addEventListener('mouseover', function () {
            textDisplayed.style.transition = "all 0.2s ease-in";
            textDisplayed.textContent = "Send a hi!";
        });

        friendsListElement.addEventListener('mouseout', function () {
            textDisplayed.textContent = friendName;
        });

        friendsListElement.addEventListener('click', function () {
            const friendIdInput = friendsListElement.querySelector('.friend-id');
            const idRecevant = friendIdInput.value;
            $.ajax({
                url: '/envoyerCLeinOeil',
                method: 'POST',
                data: {idRecevant: idRecevant},
                success: function (response) {
                    console.log('Success:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', xhr.responseText);
                }
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var challengeElements = document.querySelectorAll('#recent-work-elements');

        challengeElements.forEach(function (challengeElement) {
            challengeElement.addEventListener('click', function () {
                var challengeName = challengeElement.querySelector('h3').textContent;
                var userId = challengeElement.querySelector('h2').textContent;
                var url = 'challengesJouer?challengeName=' + encodeURIComponent(challengeName);
                createTableRow(userId, challengeName);
                window.location.href = url;
            });
        });
    });

    function createTableRow(memberId, challengeName) {
        $.ajax({
            url: '/createChallengeRow',
            method: 'GET',
            data: {userId: memberId, challengeName: challengeName},
            success: function (response) {
                console.log('Row created successfully:', response);
            },
            error: function (xhr, status, error) {
                console.error('Error creating row:', xhr.responseText);
            }
        });
    }

    /*]]>*/
</script>
</body>
</html>