<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page d'accueil utilisateur</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<header th:include="menu :: menuFragment"></header>

<main>
    <!-- Left section -->
    <div id="left-section" th:include="leftNav :: leftNavFragment"></div>
    <!-- Middle section -->
    <div id="middle-section-friends">
        <div id="middle-section-friends-list">
            <h1>Add new friends</h1>
            <div id="middle-section-search-bar">
                <form class="formSearchBar">
                    <div>
                        <input type="text" id="searchQuery" name="challengeName" placeholder="Look a specific friend" required>
                        <img src="https://img.icons8.com/pastel-glyph/64/search--v1.png" id="searchIcon" alt="search--v1"/>
                    </div>
                </form>
            </div>
            <div id="middle-section-friends-list-container">
                <div th:each="utilisateur : ${listeUtilisateur}" class="middle-section-friends-list-element" id="userElementDisplayed">
                    <div class="friends-list-element-picture">
                        <img th:src="${utilisateur.photoProfilPath}" alt="User-Profile-Pic">
                    </div>
                    <div class="friends-list-element-name-region">
                        <h2 th:text="${utilisateur.prenom + ' ' + utilisateur.nom}"></h2>
                        <h3 th:text="${utilisateur.region}"></h3>
                    </div>
                    <div class="friends-list-element-add-button" th:if="${utilisateur.idMembre != session.loggedInUser.idMembre}">
                        <button type="button" id="addButton" th:data-idAmie="${utilisateur.idMembre}" th:data-idMembre="${session.loggedInUser.idMembre}">
                            <img src="https://img.icons8.com/ios-glyphs/60/plus--v1.png" alt="plus--v1" id="addImage"/>
                        </button>
                    </div>
                    <div th:unless="${utilisateur.idMembre != session.loggedInUser.idMembre}" class="friends-list-thats-you">
                        <p>It's you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="demande-amie-container" id="toggle-demande-amie">
        <h1>Friend requests</h1>
        <div class="demande-amie-element">

        </div>
        <div class="sideTab
"></div>
        <div class="demande-amie-tab-button" id="sidetab-button">
            <i class="tab-button-icon-p1" id="sideTabButtonP1"></i>
            <i class="tab-button-icon-p2" id="sideTabButtonP2"></i>
        </div>
    </div>
</main>
<script src="/javascript/script.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    document.addEventListener("DOMContentLoaded", function() {
        var sideTabContainer = document.getElementById('toggle-demande-amie');
        sideTabContainer.style.right = '0px';
        var addButton = document.querySelectorAll('#addButton');

        addButton.forEach(function(button) {
            button.addEventListener('click', function() {
                var idMembre = this.getAttribute('data-idMembre');
                var idAmie = this.getAttribute('data-idAmie');

                console.log("IDMEMBRE RECU: " + idMembre);
                console.log("IDAMIE RECU: " + idAmie);

                // Construct the URL dynamically
                var url = "/envoyerDemandeAmie?idMembre=" + idMembre + "&idAmie=" + idAmie;

                var xhr = new XMLHttpRequest();
                xhr.open("POST", url, true); // Use the dynamically constructed URL
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            var addImage = button.querySelector('img');
                            var elementAdded = button.closest('.middle-section-friends-list-element');
                            var currentSrc = addImage.getAttribute('src');
                            addImage.setAttribute('src', 'images/Screenshot 2024-04-21 013229.png');
                            elementAdded.classList.add("added-user");
                            console.log("Friend request sent successfully!");
                        } else {
                            console.error("Error sending friend request:", xhr.statusText);
                        }
                    }
                };
                xhr.send();
            });
        });

        var button = document.getElementById('sidetab-button');
        var sideTabButtonP1 = document.getElementById('sideTabButtonP1');
        var sideTabButtonP2 = document.getElementById('sideTabButtonP2');

        button.addEventListener('click', function() {
            var isOpen = sideTabContainer.style.right === '0px';
            if(sideTabContainer.style.right === '0px'){
                sideTabButtonP1.style.transform = 'rotate(16deg)';
                sideTabButtonP2.style.transform = 'rotate(-16deg)';
            }
            sideTabContainer.style.right = isOpen ?  '-220px' : '0px';
        })

        button.addEventListener('mouseenter', function() {
            var isOpen = sideTabContainer.style.right === '-220px';
            if (!isOpen) {
                sideTabButtonP1.style.transform = 'rotate(-16deg)';
                sideTabButtonP2.style.transform = 'rotate(16deg)';
            }
        });

        button.addEventListener('mouseleave', function() {
            var isOpen = sideTabContainer.style.right === '-220px';
            if (!isOpen) {
                sideTabButtonP1.style.transform = 'rotate(0deg)';
                sideTabButtonP2.style.transform = 'rotate(0deg)';
            }
        });

    });
    /*]]>*/
</script>
</body>
</html>