<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Friends list</title>
</head>
<body th:fragment="rightFriendsListFragment">
<div id="right-section">
    <div id="right-section-friends-list">
        <h2>Friends</h2>
        <ul th:if="${listeAmitier == null} or ${#lists.isEmpty(listeAmitier)}">
            <p>No friends found yet</p>
        </ul>
        <ul th:each="amie : ${listeAmitier}" id="friends-list">
            <li class="friends-list-element">
                <input type="hidden" class="friend-id" th:value="${amie.idMembre}" />
                <a href="">
                    <div class="horizontal-tab-container-friends">
                        <img th:src="${amie.photoProfilPath}" alt="test-account"/>
                        <h3 th:text="${amie.prenom + ' ' + amie.nom}"></h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<script th:inline="javascript">

    const friendsListElements = document.querySelectorAll('.friends-list-element');

    friendsListElements.forEach(function (friendsListElement) {
        const friendName = friendsListElement.querySelector('h3').textContent;
        const textDisplayed = friendsListElement.querySelector('h3');
        friendsListElement.addEventListener('mouseover', function () {
            textDisplayed.style.transition = "all 0.2s ease-in";
            textDisplayed.textContent = "Poke him!";
        });

        friendsListElement.addEventListener('mouseout', function () {
            textDisplayed.textContent = friendName;
        });

        friendsListElement.addEventListener('click', function () {
            const friendIdInput = friendsListElement.querySelector('.friend-id');
            const idRecevant = friendIdInput.value;
            $.ajax({
                url: '/envoyerCLeinOeil',
                method: 'POST',
                data: {idRecevant: idRecevant},
                success: function (response) {
                    console.log('Success:', response);
                },
                error: function (xhr, status, error) {
                    console.error('Error:', xhr.responseText);
                }
            });
        });
    });
</script>
</body>
</html>