<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Friends list</title>
</head>
<body>
<div id="right-section" th:fragment="rightFriendsListFragment">
    <div id="right-section-friends-list">
        <h2>Friends</h2>
        <ul th:each="amie : ${listeAmitier}" id="friends-list">
            <li>
                <a href="">
                    <div class="horizontal-tab-container-friends">
                        <img th:src="${amie.photoProfilPath}" alt="test-account"/>
                        <h3 th:text="${amie.prenom + ' ' + amie.nom}"></h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>