<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>liste amie doite</title>
</head>
<body>
<div id="right-section" th:fragment="rightFriendsListFragment">
    <div id="right-section-friends-list">
        <h2>Friends</h2>
        <ul id="friends-list">
            <li>
                <a href="">
                    <div class="horizontal-tab-container-friends">
                        <img src="https://img.icons8.com/ios-glyphs/30/test-account.png" alt="test-account"/>
                        <h3>Jason</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="horizontal-tab-container-friends">
                        <img src="https://img.icons8.com/ios-glyphs/30/test-account.png" alt="test-account"/>
                        <h3>Alex</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="horizontal-tab-container-friends">
                        <img src="https://img.icons8.com/ios-glyphs/30/test-account.png" alt="test-account"/>
                        <h3>Sofia</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="">
                    <div class="horizontal-tab-container-friends">
                        <img src="https://img.icons8.com/ios-glyphs/30/test-account.png" alt="test-account"/>
                        <h3>Matthew</h3>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>