@font-face {
  font-family: 'CustomFont1';
  src: url('../fonts/Cabolafe.otf') format('opentype');
}

@font-face {
  font-family: 'CustomFontCalligraphy';
  src: url('../fonts/Birds of paradise.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
}

header {
    width: 100%;
    height: 10%;
    position: absolute;
    z-index: 999;
}

#logo-container {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
}

#logo-container img{
    width: 40%;
    min-width: 80px;
    height: auto;
    margin-left: 20%;
}

#horizontal-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#horizontal-nav ul{
    display: flex;
    float: right;
}

#horizontal-nav li{
    display: flex;
    text-decoration: none;
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 1.5rem;
    padding: 0.5rem;
    border-radius: 50%;
}

#horizontal-nav a{
    width: inherit;
    height: inherit;
    text-decoration: none;
    text-align: center;
}

#horizontal-nav img{
    width: inherit;
    height: inherit;
}


#horizontal-nav li:hover{
  background-color: #cecece;
  cursor: pointer;
}

main {
    display: flex;
    flex: 1;
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
}

#left-section, #right-section {
    flex-grow: 1;
    width: 15%;
}

#left-section-home-page {
    left: 0;
    width: 15%;
}

#middle-section {
    flex-grow: 2;
    background-color: #f7f7f7;
    width: 70%;
    border: 1px solid #ddd;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
}
    
#middle-section h1{
    font-family: 'CustomFont1', sans serif;
    font-size: 2rem;
    color: #4d4d4d;
    padding: 1rem 0 0 3rem;
}

#middle-section-recent-work {
    display: block;
    position: relative;
    width: 100%;
    height: 30%;
}

#recent-work-container {
    position: relative;
    display: flex;
    width: 90%;
    height: 70%;
    margin: 0 auto;
}

#recent-work-container div{
    position: relative;
    width: 9vw;
    height: 9vw;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-right: 1vw;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

#recent-work-container div:hover, #recent-post-container div:hover {
    box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.3);
}

#middle-section-recent-posts {
    display: block;
    position: relative;
    width: 100%;
    height: 36%;
}

#recent-post-container {
    position: relative;
    display: flex;
    width: 90%;
    height: 70%;
    margin: 0 auto;
}

#recent-post-container div{
    position: relative;
    width: 30%;
    height: 12vw;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-right: 2%;
    transition: box-shadow 0.5s ease;
    cursor: pointer;
}

#middle-section-achievements {
    display: block;
    position: relative;
    width: 100%;
    height: 10%;
}

#achievements-container {
    position: relative;
    display: flex;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

#achievements-container ul{
    display: flex;
    align-items: center;
    padding: 0;
}

#achievements-container li {
    display: flex;
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
}

#left-section-nav-bar {
    position: relative;
    width: 80%;
    height: 35%;
}

#left-section-nav-bar ul{
    padding-top: 20%;
    padding-left: 10%;
}

#left-section-nav-bar li{
    margin: 0 0 0.2rem 0;
    list-style-type: none;
    padding: 0.5rem;
    border-radius: 2rem;
    transition: background-color 0.5s ease;
}

#left-section-nav-bar a{
    text-decoration: none;
    font-family: 'CustomFont1', sans serif;
    color: black;
    font-size: 1rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: -0.2rem;
    transition: color 0.3s ease-in-out;
}

#left-section-nav-bar li:hover {
    background-color: #dedede;
}

#left-section-nav-bar li:hover a {
    color: #3399ff;
}

#left-section-favorites {
    display: block;
    position: relative;
    width: 100%;
    height: 50%;
}

hr {
    position: relative;
    left: 0;
    margin-top: 25%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#left-section-favorites h2{
    font-family: 'CustomFont1', sans serif;
    font-size: 1.6rem;
    color: #4d4d4d;
    text-align: center;
    margin: 10% 0 5% 0;
    
}

#vertical-nav-favorites {
    display: block;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 60%;
}

#vertical-nav-favorites > p {
    font-family: 'CustomFont1', sans-serif;
    font-size: 0.8rem;
    color: #4d4d4d;
    margin: 0 0 0 25%;
}

#vertical-nav-favorites ul{
    width: 100%;
    margin-top: 0;
    padding: 0;
}

#vertical-nav-favorites li{
    margin: 0 0 0.2rem 0;
    list-style-type: none;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 65%;
    margin: 0 auto;
    transition: background-color 0.5s ease;
}

#vertical-nav-favorites li a{
    text-decoration: none;
    font-family: 'CustomFont1', sans serif;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: -0.2rem;
    transition: color 0.2s ease-in-out;
}

#vertical-nav-favorites li img{
    width: 3rem;
    height: 2.8rem;
    margin-right: 1rem;
}

#vertical-nav-favorites li h3{
    font-family: 'CustomFont1', sans serif;
    color: black;
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}

.horizontal-tab-container {
    display: flex;
    align-items: center;
    margin: 0 0 0 15%;
}

.horizontal-tab-container-friends {
    display: flex;
    align-items: center;
}


#vertical-nav-favorites li:hover {
    background-color: #dedede;
}

#vertical-nav-favorites li:hover h3 {
    color: #3399ff;
}

#right-section-friends-list {
    position: relative;
    top: 4%;
    left: 0;
    width: 80%;
    height: 90%;
}

#right-section-friends-list h2{
    font-family: 'CustomFont1', sans serif;
    font-size: 1.6rem;
    color: #4d4d4d;
    padding-left: 2rem
}

#right-section-friends-list h3{
    font-family: 'CustomFont1', sans serif;
    color: black;
    font-size: 1rem;
    margin-top: 1.2rem;
}

#right-section-friends-list li{
    display: inline-block;
    width: 100%;
    height: auto;
    list-style-type: none;
    border-radius: 2rem;
    transition: background-color 0.5s ease;
}

#friends-list img{
    width: 2rem;
    height: auto;
    margin-right: 1rem;
}

#right-section-friends-list li a{
    text-decoration: none;
    color: black;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: -0.2rem;
    transition: color 0.2s ease-in-out;
}

#right-section-friends-list li:hover {
    background-color: #dedede;
}

#right-section-friends-list li:hover h3 {
    color: #3399ff;
}

/* ----------------------------------------------------------- */
                      /* Page des défis */
/* ----------------------------------------------------------- */

@keyframes colorChange {
      0%, 100% { background-position: 0% 50%; }
      25% { background-position: 25% 50%; }
      50% { background-position: 50% 50%; }
      75% { background-position: 75% 50%; }
    }
    
#middle-section-challenges-layout {
    display: block;
    position: relative;
    width: 100%;
    height: 95%;
}

#middle-section-challenges-layout h1{
    background: linear-gradient(to right, #cb3d47, #f97c39);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 500% 100%;
    animation: colorChange 10s infinite;
}

#middle-section-search-bar{
    position: relative;
    display: flex;
    width: 100%;
    height: 10%;
}

#middle-section-search-bar .formSearchBar{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto 0;
    max-width: 100vw;
}

#middle-section-search-bar > .formSearchBar > div{
    position: inherit;
    width: 40%;
    height: 50%;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

#middle-section-search-bar > .formSearchBar > div > img{
    width: 1.5rem;
    height: 1.5rem;
    transform: translateX(-150%);
}

#middle-section-search-bar > .formSearchBar > div > input{
    position: inherit;
    width: 100%;
    height: 100%;
    padding-left: 8%;
    padding-top: 1%;
    color: #898A8A;
    letter-spacing: 0.05rem;
    border: 1px solid #ddd;
    border-radius: 3rem;
    font-family: 'CustomFont1', sans serif;
    font-size: 1rem;
    box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
    transition: border-color 0.3s;
}

#middle-section-search-bar input:hover{
    box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.2); 
}

#middle-section-search-bar input::placeholder{
    font-family: 'CustomFont1', sans serif;
    font-size: 1rem;
    color: #ABABAB;
}

#middle-section-search-bar input:active,
#middle-section-search-bar input:focus {
    border-color: #cb3d47;
    outline: none;
}

#middle-section-challenges-container {
    position: relative;
    display: block;
    width: 100%;
    height: 80%;
}

#middle-section-challenges-element {
    position: relative;
    display: flex;
    width: 70%;
    height: 25%;
    margin: 0 0 2% 5%;
    border-radius: 3rem;
    border: 1px solid #C6C6C6; 
    box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
    transition: background-color 1s ease;
    cursor: pointer;
}

#middle-section-challenges-element:hover{
    box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
    background-color: #E8AE8F;
}

.circle-container {
    position: relative;
    width: 6vw;
    height: 6vw;
    margin: auto 0;
    margin-left: 2%;
    border-radius: 50%;
    background-color: #FAFAFA;
    border: 1px solid #C6C6C6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}

.fraction {
    font-family: 'CustomFont1', sans serif;
    font-size: 1.6vw;
    color: #f97c39;
    position: absolute;
}

#subject-challenge-container {
    display: block;
    padding: 2% 0 0 8%;
}

#subject-challenge-container p{
    font-family: 'CustomFont1', sans serif;
    font-size: 0.9rem;
    color: black;
}

#subject-challenge {
    display: flex;
    width: 40%;
    padding: 0 0 0 10%;
}

#subject-challenge h3{
    font-family: 'CustomFont1', sans serif;
    font-size: 1.2rem;
    color: black;
}

#subject-challenge img{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

#challenge-complete {
    position: absolute;
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    right: 0;
}

#challenge-complete h3{
    font-family: 'CustomFont1', sans serif;
    font-size: 1.2rem;
    color: #f97c39;
    letter-spacing: 0.05rem;
    padding: 1rem;
    border: 3px solid #E28756;
    border-radius: 2rem;
    background-color: #FAFAFA;
}

/* ----------------------------------------------------------- */
/* Page des pays */
/* ----------------------------------------------------------- */


#middle-section-countries-layout {
    display: block;
    position: relative;
    width: 100%;
    height: 95%;
}

#middle-section-grid-layout {
    position: relative;
    display: block;
    width: 100%;
    height: 75%;
}

.middle-section-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 18rem);
    grid-template-rows: repeat(2, 13.5rem);
    gap: 4%;
    margin: 2% 0 0 5%;
}

.grid-item, .grid-item-languages {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s ease;
}

.grid-item:hover, 
.grid-item-languages:hover {
    box-shadow: 0.3rem 0.4rem 1.2rem rgba(0, 0, 0, 0.25);
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.grid-item-languages img {
    position: absolute;
    bottom: 6%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover img,
.grid-item-languages:hover img{
    transform: scale(1.1);
}

#grid-item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: white;
    padding: 8px;
    text-align: center;
}

#grid-item-title h3 {
    text-align: start;
    margin: 0;
    font-family: 'CustomFont1', sans serif;
    font-size: 1rem;
    color: #4d4d4d;
}

/* ----------------------------------------------------------- */
/* Page d'accueil' */
/* ----------------------------------------------------------- */

#horizontal-nav button {
    width: 8vw;
    height: auto;
    min-height: 4vh;
    min-width: 80px;
    margin-right: 1vw;
    border-radius: 1rem;
    border-width: 2px;
    font-family: 'CustomFont1', sans-serif;
    font-size: 1rem;
    color: #4d4d4d;
    box-shadow: 0 0 5rem 0.2rem rgba(0, 0, 0, 0.1);
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

#horizontal-nav button:nth-child(2) {
    width: 4vw;
}

#horizontal-nav button:hover {
    background-color: #dedede;
    color: #3399ff;
    cursor: pointer;
}

#main-section-home-page {
    display: block;
    flex-grow: 3;
    width: 85%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#main-section-home-page h1{
    position: relative;
    font-family: 'CustomFont1', sans serif;
    font-size: 3.5vw;
    color: #4d4d4d;
    margin: 5% 0 0 3%;
    text-align: initial;
    overflow: hidden;
}

#main-section-first-info{
    width: 100%;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

#main-section-first-info img{
    width: 35%;
    height: auto;
    padding-right: 2%;
    margin: 2% 0 0 0;
}

#main-section-first-info h2{
    width: 30%;
    height: auto;
    padding: 8% 10% 0 0;
    font-family: 'CustomFont1', sans-serif;
    font-size: 1.4vw;
    color: #4d4d4d;
} 

#bubble-thoughts1{
    display: block;
    position: relative;
    width: 40%;
    height: 40vh;
    margin: 0 auto;    
}

#bubble-thoughts1 img{
    display: block;
    width: 1vw;
    height: auto;
}

#bubble-thoughts1 img:nth-child(1){
    margin: 4vh 0 0 10vw;
    transform: rotate(180deg);
}

#bubble-thoughts1 img:nth-child(2){
    margin: 6vh 0 0 8vw;
    transform: rotate(190deg);
}

#bubble-thoughts1 img:nth-child(3){
    margin: 6vh 0 0 9vw;
    transform: rotate(160deg);
}

#bubble-thoughts1 img:nth-child(4){
    margin: 6vh 0 0 8.5vw;
    transform: rotate(180deg);
}

#bubble-thoughts1 img:nth-child(5){
    margin: 6vh 0 0 10vw;
    transform: rotate(150deg);
}

#bubble-thoughts1 img:nth-child(6){
    margin: 6vh 0 0 11vw;
    transform: rotate(160deg);
}
    
#main-section-second-info {
    width: 100%;
    position: relative;
    margin-top: 10vw;
}

#main-section-second-info img{
    position: absolute;
    width: 4vw;
    height: auto;
    display: none;
}

#main-section-second-info h2{
    text-align: center;
    margin: 0 auto;
    padding: 1vw 0 2vw 0;
    width: 50vw;
    height: auto;
    color: #4d4d4d;
    font-family: 'CustomFont1', sans-serif;
    font-size: 4rem;
}

#bubble-thoughts2{
    display: block;
    position: relative;
    width: 40%;
    height: 40vh;
    margin: 0 auto;    
}

#bubble-thoughts2 img{
    display: block;
    width: 1vw;
    height: auto;
}

#bubble-thoughts2 img:nth-child(1){
    margin: 4vh 0 0 14vw;
    transform: rotate(210deg);
}

#bubble-thoughts2 img:nth-child(2){
    margin: 6vh 0 0 13vw;
    transform: rotate(190deg);
}

#bubble-thoughts2 img:nth-child(3){
    margin: 6vh 0 0 11vw;
    transform: rotate(200deg);
}

#bubble-thoughts2 img:nth-child(4){
    margin: 6vh 0 0 11.5vw;
    transform: rotate(180deg);
}

#bubble-thoughts2 img:nth-child(5){
    margin: 6vh 0 0 10vw;
    transform: rotate(180deg);
}

#bubble-thoughts2 img:nth-child(6){
    margin: 6vh 0 0 11vw;
    transform: rotate(170deg);
}

#main-section-third-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10vw;
    margin-left: 5vw;
}

#main-section-third-info img{
    width: 35%;
    height: auto;
    padding-left: 2%;
    margin: 2% 0 0 0;
}

#main-section-third-info h2{
    width: 30%;
    margin-left: 5vw;
    height: auto;
    padding: 8% 0 0 5%;
    font-family: 'CustomFont1', sans-serif;
    font-size: 1.2rem;
    color: #4d4d4d;
}

#main-section-home-page h1 #invisible {
    opacity: 0;
}

/* ----------------------------------------------------------- */
/* Form Login et Sign up */
/* ----------------------------------------------------------- */

.main-box {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: opacity 0.3s ease;
}

.main-box-visible {
    opacity: 1;
    pointer-events: auto;
}

.box {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forms-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}

form{
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

form.sign-up-form {
    opacity: 0;
    pointer-events: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 75px;
    height: auto;
    margin-right: 0.3rem;
}

.logo h4 {
    font-family: 'CustomFont1';
    font-size: 1.1rem;
    margin-top: 2vh;
    letter-spacing: -0.2px;
    color: #151111;
}

.heading h2 {
    font-family: 'CustomFont1';
    font-size: 2.1rem;
    font-weight: 600;
    color: #151111;
    margin-top: 5px;
    margin-bottom: 0px;
}

.heading h6 {
    font-family: 'CustomFont1';
    color: #bababa;
    font-weight: 400;
    font-size: 0.75rem;
    display: inline;
}

.toggle {
    color: #151111;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
}

.toggle:hover {
    color: #3399ff;
}

.input-wrap {
    position: relative;
    height: 37px;
    margin-bottom: 2rem;
}

.input-field {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: #151111;
    transition: 0.4s;
}

label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
    transition: 0.4s;
}

.input-field.active {
    border-bottom-color: #151111;
}

.input-field.active + label {
    font-size: 0.75rem;
    top: -2px;
}

.sign-btn {
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: #151111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-bottom: 2rem;
    transition: 0.3s;
}

.sign-btn:hover {
    background-color: #3399ff;
}

.text-form-footer {
    color: #bbb;
    font-size: 0.7rem;
}

.text-form-footer a {
    color: #bbb;
    transition: 0.3s;
}

.text-form-footer a:hover {
    color: #3399ff;
}

main.sign-up-mode form.sign-in-form {
    opacity: 0;
    pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
    opacity: 1;
    pointer-events: all;
}

main.sign-up-mode .forms-wrap {
    left: 55%;
}

main.sign-up-mode .carousel {
    left: 0%;
}

.carousel {
    position: absolute;
    height: 100%;
    width: 55%;
    left: 45%;
    top: 0;
    background-color: #e0e0e2;
    border-radius: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    padding-bottom: 2rem;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.images-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.image {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
    transform: translate(0, -50px);
}

.img-2 {
    transform: scale(0.4, 0.5);
}

.img-3 {
    transform: scale(0.3) rotate(-20deg);
}

.image.show {
    opacity: 1;
    transform: none;
}

.text-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-wrap {
    max-height: 2.5rem;
    overflow: hidden;
    margin-bottom: 2.5rem;
}

.text-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(0);
    transition: 0.5s;
}

.text-group h2 {
    font-family: 'CustomFont1';
    line-height: 2.2rem;
    font-weight: 600;
    font-size: 1.6rem;
    margin-top: 0px;
}

.bullets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets span {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #aaa;
    margin: 0 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.bullets span.active {
    width: 1.1rem;
    background-color: #151111;
    border-radius: 1rem;
}

.close-form-join {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: white;
    float: right;
}

.close-icon-container {
    width: 100%;
    height: 100%;
    background-image: url("https://img.icons8.com/ios-glyphs/40/delete-sign.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s ease;
}

.close-icon-container:hover {
    background-image: url("https://img.icons8.com/ios-glyphs/40/E66A1C/delete-sign.png");
    transform: scale(1.15);
    cursor: pointer;
}

/* ----------------------------------------------------------- */
/* Message de validation - Inscription */
/* ----------------------------------------------------------- */

.messageInscription {
    display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    animation: SlideInSlideOut 6s 1;
    opacity: 0;
}

@keyframes SlideInSlideOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    30% {
        opacity: 0.8;
        transform: translateY(20px);
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 0.8;
        transform: translateY(20px);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.messageTextReussie {
    font-family: 'CustomFont1';
    font-size: 1rem;
    background-color: rgb(240, 240, 240);
    color: green;
    border-radius: 2rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    text-align: center;
}

.messageTextEchoue {
    font-family: 'CustomFont1';
    font-size: 1rem;
    background-color: rgb(240, 240, 240);
    color: red;
    border-radius: 2rem;
    padding: 0.4rem 1rem 0.4rem 1rem;
    text-align: center;
}

/* ----------------------------------------------------------- */
/* Dropdown pour l'icon compte
/* ----------------------------------------------------------- */

.dropdown-menu {
    display: none;
    background-color: white;
    position: relative;
    margin-left: -4vw;
    margin-top: 5vh;
    height: 7.6vh;
    z-index: 10;
    border-radius: 0.4rem;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: -7px 8px 10px -9px rgba(0,0,0,0.42); 
    justify-content: center;
    padding: 0;
}

#horizontal-nav .dropdown-menu a {
    width: 4vw;
    height: 2vh;
    position: relative;
    display: block;
    font-family: 'CustomFont1';
    font-size: 0.8rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 0;
    text-align: start;
    transition: background-color 0.2s ease;
    letter-spacing: 0.5px;
}

#horizontal-nav .dropdown-menu a:nth-child(1){
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
}

#horizontal-nav .dropdown-menu a:nth-child(2){
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
}

#horizontal-nav .dropdown-menu a:nth-child(1):hover {
    background-color: #e0e0e0;
}

#horizontal-nav .dropdown-menu a:nth-child(2):hover {
    background-color: rgb(156, 72, 77);
    color: white;
}

