<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Settings</title>
</head>
<body>

<header th:include="menu :: menuFragment"></header>

<div class="messagePopUps">
    <p th:if="${messageModifieReussite != null}" class="messageTextReussie" th:text="${messageModifieReussite}"></p>
    <p th:if="${messageModifieEchoue != null}" class="messageTextEchoue" th:text="${messageModifieEchoue}"></p>
    <p th:if="${messageChangePasswordReussi != null}" class="messageTextReussie" th:text="${messageChangePasswordReussi}"></p>
    <p th:if="${messageChangePasswordEchoue != null}" class="messageTextEchoue" th:text="${messageChangePasswordEchoue}"></p>
    <p th:if="${messageModifieLanguagesReussite != null}" class="messageTextReussie" th:text="${messageModifieLanguagesReussite}"></p>
    <p th:if="${messageModifieLanguagesEchoue != null}" class="messageTextEchoue" th:text="${messageModifieLanguagesEchoue}"></p>
</div>

<div class="reglage-nav-wrapper">
    <div class="reglage-nav-container">
        <ul>
            <li><a th:href="@{/pageAccueilUtilisateur}">Feed</a></li>
            <li><a id="general-link" href="#">General</a></li>
            <li><a id="security-link" href="#">Security</a></li>
            <li><a id="languages-link" href="#">Languages</a></li>
        </ul>
    </div>
</div>
<div id="general-form" class="utilisateur-reglage-wrapper">
    <div class="utilisateur-reglage-container"  id="form-container">
        <form action="updateProfile" method="post" enctype="multipart/form-data">
            <div class="utilisateur-header">
                <div class="photo-profil">
                    <input type="file" id="photo-profil-up1" name="file">
                    <label for="photo-profil-up1">
                        <img id="photoProfilDis1" th:src="${session.loggedInUser.photoProfilPath}"  alt="Profile Picture">
                        <span class="tooltip">Choose Picture</span>
                    </label>
                </div>
                <div class="utilisateur-username">
                    <h1 id="firstNameDis1" th:text="${session.loggedInUser.prenom + ' ' + session.loggedInUser.nom}"></h1>
                    <p id="usernameDis1" th:text="'@' + ${session.loggedInUser.username}"></p>
                    <p class="text-bio" id="bioDis1" th:text="${session.loggedInUser.bio}"></p>
                </div>
            </div>
            <div class="utilisateur-body">
                <input type="hidden" name="email" th:value="${session.loggedInUser.email}">
                <input type="hidden" id="password" name="password" th:value="${session.loggedInUser.password}">
                <div class="reglage-form-row">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter a new username">
                </div>
                <div class="reglage-form-row">
                    <label for="bio">Bio</label>
                    <textarea type="text" id="bio" row="4" name="bio" placeholder="Enter something interesting about you!"></textarea>
                </div>
                <div class="reglage-form-row">
                    <label for="region">Country</label>
                    <select id="region" name="region">
                        <option value="">Select your country</option>
                        <!-- A -->
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <!-- B -->
                        <option value="Bahamas">Bahamas</option>
                        <option value="Bahrain">Bahrain</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Belarus">Belarus</option>
                        <!-- C -->
                        <option value="Cambodia">Cambodia</option>
                        <option value="Cameroon">Cameroon</option>
                        <option value="Canada">Canada</option>
                        <option value="Cape Verde">Cape Verde</option>
                        <option value="Central African Republic">Central African Republic</option>
                        <!-- D -->
                        <option value="Denmark">Denmark</option>
                        <option value="Djibouti">Djibouti</option>
                        <option value="Dominica">Dominica</option>
                        <option value="Dominican Republic">Dominican Republic</option>
                        <option value="DR Congo">DR Congo</option>
                        <!-- E -->
                        <option value="East Timor">East Timor</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="Egypt">Egypt</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                        <!-- F -->
                        <option value="Fiji">Fiji</option>
                        <option value="Finland">Finland</option>
                        <option value="France">France</option>
                        <option value="Gabon">Gabon</option>
                        <option value="Gambia">Gambia</option>
                        <!-- G -->
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Germany</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Greece">Greece</option>
                        <option value="Grenada">Grenada</option>
                        <!-- H -->
                        <option value="Haiti">Haiti</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Hungary">Hungary</option>
                        <option value="Iceland">Iceland</option>
                        <option value="India">India</option>
                        <!-- I -->
                        <option value="Indonesia">Indonesia</option>
                        <option value="Iran">Iran</option>
                        <option value="Iraq">Iraq</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Israel">Israel</option>
                        <!-- J -->
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japan</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Kazakhstan">Kazakhstan</option>
                        <option value="Kenya">Kenya</option>
                        <!-- K -->
                        <option value="Kiribati">Kiribati</option>
                        <option value="Kuwait">Kuwait</option>
                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                        <option value="Laos">Laos</option>
                        <option value="Latvia">Latvia</option>
                        <!-- L -->
                        <option value="Lebanon">Lebanon</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Liberia">Liberia</option>
                        <option value="Libya">Libya</option>
                        <option value="Liechtenstein">Liechtenstein</option>
                        <!-- M -->
                        <option value="Lithuania">Lithuania</option>
                        <option value="Luxembourg">Luxembourg</option>
                        <option value="Madagascar">Madagascar</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Malaysia">Malaysia</option>
                        <!-- N -->
                        <option value="Maldives">Maldives</option>
                        <option value="Mali">Mali</option>
                        <option value="Malta">Malta</option>
                        <option value="Marshall Islands">Marshall Islands</option>
                        <option value="Mauritania">Mauritania</option>
                        <!-- O -->
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Micronesia">Micronesia</option>
                        <option value="Moldova">Moldova</option>
                        <option value="Monaco">Monaco</option>
                        <!-- P -->
                        <option value="Mongolia">Mongolia</option>
                        <option value="Montenegro">Montenegro</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Myanmar (Burma)">Myanmar (Burma)</option>
                        <!-- Q -->
                        <option value="Namibia">Namibia</option>
                        <option value="Nauru">Nauru</option>
                        <option value="Nepal">Nepal</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="New Zealand">New Zealand</option>
                        <!-- R -->
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Niger">Niger</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="North Korea">North Korea</option>
                        <option value="North Macedonia">North Macedonia</option>
                        <!-- S -->
                        <option value="Norway">Norway</option>
                        <option value="Oman">Oman</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Palau">Palau</option>
                        <option value="Palestine">Palestine</option>
                        <!-- T -->
                        <option value="Panama">Panama</option>
                        <option value="Papua New Guinea">Papua New Guinea</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Philippines">Philippines</option>
                        <!-- U -->
                        <option value="Poland">Poland</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Qatar">Qatar</option>
                        <option value="Romania">Romania</option>
                        <option value="Russia">Russia</option>
                        <!-- V -->
                        <option value="Rwanda">Rwanda</option>
                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                        <option value="Saint Lucia">Saint Lucia</option>
                        <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                        <option value="Samoa">Samoa</option>
                        <!-- W -->
                        <option value="San Marino">San Marino</option>
                        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                        <option value="Saudi Arabia">Saudi Arabia</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Serbia">Serbia</option>
                        <!-- X -->
                        <option value="Seychelles">Seychelles</option>
                        <option value="Sierra Leone">Sierra Leone</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Slovakia">Slovakia</option>
                        <option value="Slovenia">Slovenia</option>
                        <!-- Y -->
                        <option value="Solomon Islands">Solomon Islands</option>
                        <option value="Somalia">Somalia</option>
                        <option value="South Africa">South Africa</option>
                        <option value="South Korea">South Korea</option>
                        <option value="South Sudan">South Sudan</option>
                        <!-- Z -->
                        <option value="Spain">Spain</option>
                        <option value="Sri Lanka">Sri Lanka</option>
                        <option value="Sudan">Sudan</option>
                        <option value="Suriname">Suriname</option>
                        <option value="Sweden">Sweden</option>
                    </select>

                </div>
                <div class="reglage-form-button">
                    <input type="submit" value="Apply">
                </div>
            </div>
        </form>
    </div>
</div>
<div id="security-form" class="utilisateur-reglage-wrapper">
    <div class="utilisateur-reglage-container"  id="form-container">
        <form action="updatePassword" method="post">
            <div class="utilisateur-header">
                <div class="photo-profil">
                    <label>
                        <img id="photoProfilDis2" th:src="${session.loggedInUser.photoProfilPath}" alt="Profile Picture">
                    </label>
                </div>
                <div class="utilisateur-username">
                    <h1 id="firstNameDis2" th:text="${session.loggedInUser.prenom + ' ' + session.loggedInUser.nom}"></h1>
                    <p id="usernameDis2" th:text="'@' + ${session.loggedInUser.username}"></p>
                    <p class="text-bio" id="bioDis2" th:text="${session.loggedInUser.bio}"></p>
                </div>
            </div>
            <div class="utilisateur-body">
                <input type="hidden" name="email" th:value="${session.loggedInUser.email}">
                <div class="reglage-form-row">
                    <label for="passwordOld">Old password</label>
                    <input type="password" id="passwordOld" name="passwordOld" placeholder="Enter your old password">
                </div>
                <div class="reglage-form-row">
                    <label for="passwordNew">New password</label>
                    <input type="password" id="passwordNew" name="passwordNew" placeholder="Enter your new password">
                </div>
                <div class="reglage-form-button">
                    <input type="submit" value="Apply">
                </div>
            </div>
        </form>
    </div>
</div>
<div id="languages-form" class="utilisateur-reglage-wrapper">
    <div class="utilisateur-reglage-container"  id="form-container">
        <form action="updateLanguages" method="post">
            <div class="utilisateur-header">
                <div class="photo-profil">
                    <label>
                        <img id="photoProfilDis3" th:src="${session.loggedInUser.photoProfilPath}" alt="Profile Picture">
                    </label>
                </div>
                <div class="utilisateur-username">
                    <h1 id="firstNameDis3" th:text="${session.loggedInUser.prenom + ' ' + session.loggedInUser.nom}"></h1>
                    <p id="usernameDis3" th:text="'@' + ${session.loggedInUser.username}"></p>
                    <p class="text-bio" id="bioDis3" th:text="${session.loggedInUser.bio}"></p>
                </div>
            </div>
            <div class="utilisateur-body">
                <div class="reglage-form-row">
                    <label>Languages spoken</label>
                    <div class="rectangle-container">
                        <input type="hidden" name="password" th:value="${session.loggedInUser.password}">
                        <input type="hidden" name="email" th:value="${session.loggedInUser.email}">
                        <div class="rectangle">
                            <input type="checkbox" id="japonais" name="languages" value="Japanese" th:checked="${session.japaneseSpoken}">
                            <img class="imgChecked" width="50" height="50" src="https://img.icons8.com/ios-filled/50/checked--v1.png" alt="checked--v1"/>
                            <label for="japonais"><img src="images/japan.png" alt="Japanese Flag"></label>
                        </div>
                        <div class="rectangle">
                            <input type="checkbox" id="indien" name="languages" value="Indian" th:checked="${session.indianSpoken}">
                            <img class="imgChecked" width="50" height="50" src="https://img.icons8.com/ios-filled/50/checked--v1.png" alt="checked--v1"/>
                            <label for="indien"><img src="images/india.png" alt="Indian Flag"></label>
                        </div>
                        <div class="rectangle">
                            <input type="checkbox" id="francais" name="languages" value="French" th:checked="${session.frenchSpoken}">
                            <img class="imgChecked" width="50" height="50" src="https://img.icons8.com/ios-filled/50/checked--v1.png" alt="checked--v1"/>
                            <label for="francais"><img src="images/france.png" alt="French Flag"></label>
                        </div>
                        <div class="rectangle">
                            <input type="checkbox" id="russe" name="languages" value="Russian" th:checked="${session.russianSpoken}">
                            <img class="imgChecked" width="50" height="50" src="https://img.icons8.com/ios-filled/50/checked--v1.png" alt="checked--v1"/>
                            <label for="russe"><img src="images/russia.png" alt="Russian Flag"></label>
                        </div>
                        <div class="rectangle">
                            <input type="checkbox" id="italian" name="languages" value="Italian" th:checked="${session.italianSpoken}">
                            <img class="imgChecked" width="50" height="50" src="https://img.icons8.com/ios-filled/50/checked--v1.png" alt="checked--v1"/>
                            <label for="italian"><img src="https://flagcdn.com/w2560/it.png" alt="Italian Flag"></label>
                        </div>
                        <div class="rectangle">
                            <input type="checkbox" id="espagnol" name="languages" value="Spanish" th:checked="${session.spanishSpoken}">
                            <img class="imgChecked" width="50" height="50" src="https://img.icons8.com/ios-filled/50/checked--v1.png" alt="checked--v1"/>
                            <label for="espagnol"><img src="images/spain.png" alt="Spanish Flag"></label>
                        </div>
                    </div>
                </div>
                <div class="reglage-form-button">
                    <input type="submit" value="Apply">
                </div>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function() {
        showForm('general');

        document.getElementById('general-link').addEventListener('click', function(event) {
            showForm('general');
            event.preventDefault();
        });

        document.getElementById('security-link').addEventListener('click', function(event) {
            showForm('security');
            event.preventDefault();
        });

        document.getElementById('languages-link').addEventListener('click', function(event) {
            showForm('languages');
            event.preventDefault();
        });

        function showForm(formName) {
            var allForms = document.querySelectorAll('.utilisateur-reglage-wrapper');
            allForms.forEach( e => {
                e.style.display = 'none';
            });
            // Show the selected form
            var selectedForm = document.getElementById(formName + '-form');
            if (selectedForm) {
                selectedForm.style.display = 'flex';
            }
        }
    });



    function stretchImage(container) {
        var image = container.querySelector('img');

        if (image) { // Check if the image element exists
            var containerWidth = container.offsetWidth;
            var containerHeight = container.offsetHeight;
            var minDimension = Math.min(containerWidth, containerHeight);

            image.style.width = minDimension + 'px';
            image.style.height = minDimension + 'px';
        } else {
            console.error('Image element not found');
        }
    }


    var fileInput1 = document.getElementById('photo-profil-up1');
    var image = document.querySelectorAll('.photo-profil img');

    fileInput1.addEventListener('change', handleFileSelect);

    function handleFileSelect(event) {
        var file = event.target.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function() {
                var tempImage = new Image();

                tempImage.onload = function() {
                    if (tempImage.width === tempImage.height) {
                        image.forEach(img => {
                            img.src = reader.result;
                            stretchImage(img.parentNode);
                        });
                    } else {
                        alert('Please select a square image.\nA minimum of 150px by 150px is recommended');
                        event.target.value = '';
                    }
                };

                tempImage.src = reader.result;
            };

            reader.readAsDataURL(file);
        }
    }
    /*]]>*/
</script>
</body>
</html>
