<main [ngStyle]="{'height': '100%', 'top': '0'}">
    <div id="middle-section" [ngStyle]="{'background-color': '#2d2d2d'}">
        <a href="http://localhost:8080/pageAccueilUtilisateur" [ngClass]="{'return-button-admin': true}">Exit admin
            panel</a>
        <div class="post-wrapper-angular">
            <div *ngIf="publications && publications.length === 0">
                <p [ngClass]="{'text-posts-empty-list-admin': true}">No publications to display.</p>
            </div>
            <div class="post-element" *ngFor="let publication of publications"
                id="publication-{{publication.id_publication}}"
                [ngStyle]="{'box-shadow': 'inset 0 0 50px 5px rgba(161, 161, 161, 0.2), 0 5px 50px 10px rgba(144, 197, 232, 0.2)'}">
                <div class="post-image">
                    <img id="imagePosted" [src]="getImageUrl(publication.image)" alt="user image">
                </div>
                <div class="post-credentials">
                    <div class="post-profile-pic">
                        <div class="post-profile-pic-wrapper">
                            <img [src]="getPfp(publication.membre.photoProfilPath)" alt="profile pic">
                        </div>
                    </div>
                    <div class="post-name-and-handle">
                        <h3>
                            <span class="username">{{publication.membre.username}}</span>
                            <span class="description">{{publication.description}}</span>
                        </h3>
                    </div>
                    <a (click)="openConfirmDialog(publication.id_publication)" [ngStyle]="{'margin-right': '3%'}">
                        <button class="bouton-supprimer-post">Delete</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<script>

</script>